@media (max-width: 768px)
{
  .header_home{
    background: url(../img/mobilie-jpeg/home_mobile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header_style{
    height: 120vw;
  }
  .header_bar {
    margin: 22vw 0vw 0vw 5vw;
    justify-content: center;
  }
  .menu_itens {
    margin: 0vw 0vw 0vw 0vw;
    width: 80vw;
  }
  a {
    font-size: 3.5vw;
  }
  .header_image_home {
    margin: 45vw 0vw 0vw 5vw;
    width: 45vw;
    height: 45vw;
  }
  .main_quem_somos{
    background-image: linear-gradient(to top, #ff4f3e, #fe6467);
    justify-content: center;
    height: 100vw;
  }
  .title_home_style {
    margin: 5vw 0vw 0vw 0vw;
    font-size: 5.5vw;
    height: 6vw;
  }
  .container_thor_text {
    margin: 0vw 0vw 0vw 0vw;
    width: 80vw;
    height: 80vw;
  }
  .thor_text {
    font-size: 4vw;
    text-align: center;
  }
  .section_catalogo {
    height: 150vw;
    flex-direction: column;
    align-items: center;
  }
  .main_image {
    background-size: contain;
    order: 2;
    width: 80vw;
    height: 60vw;
    margin: 30vw 0vw 0vw 0vw;
  }
  .container_bonecos_text {
    margin: 5vw 0vw 0vw 0vw;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 40vw;
    justify-content: center;
  }
  .bonecos_text {
    font-size: 4vw;
    text-align: center;
  }
  .botaocatalogo {
    height: 6.9vw;
    padding: 0vw 2vw 0vw 2vw;
  }
  .botaocatalogo > a {
    font-size: 2.1vw;
  }
}