@media (max-width: 768px)
{
    .header_contato {
        background: url(../img/mobilie-jpeg/contato_mobile.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .header_image_contato {
        background: url();
      }
      .main_contato{
        margin-top: -2vw;
      }
      .contato-header {
        font-size: 5.5vw;
      }
      .contato-text {
        width: 70vw;
      }
      .contato-text > p {
        margin: 9vw 0vw 7vw 0vw;
        font-size: 3.9vw;
        width: 100%;
      }
      .main_form{
        height: 120vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      }
      .formulario-contato {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 70vw;
      }
      .nome {
        width: 100%;
        height: 10vw;
        background: #f7f7f7;
      }
      .email {
        width: 100%;
        height: 10vw;
        background: #f7f7f7;
      }
      .tel {
        width: 100%;
        height: 10vw;
        background: #f7f7f7;
      }
      .text {
        width: 100%;
        height: 32vw;
        background: #f7f7f7;
      }
      .botao-enviar {
        font-size: 2.9vw;
        width: 50vw;
        height: 10vw;
      }

}