.header_home {
  background: url(../img/jpeg/spiderman.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header_image_home {
  background: url(../img/png/title_spiderman.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0vw 0vw 0vw 5vw;
  width: 30vw;
  height: 25vw;
  order: 2;
}
.main_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0vw 0vw 0vw 0vw;
  width: 100%;
}
.main_quem_somos {
  order: 0;
  background: url(../img/jpeg/thor_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}
.title_thor {
  color: #fff;
}
.container_thor_text {
  margin: 6vw 3vw 0vw 2vw;
  width: 40vw;
  height: 40vw;
}
.thor_text {
  color: #fff;
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
}
.section_catalogo {
  order: 1;
  width: 100%;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.title_bonecos {
  order: 0;
  color: #3a3a3a;
}
.main_image {
  background: url(../img/png/bonecos.png);
  background-repeat: no-repeat;
  background-size: cover;
  order: 1;
  width: 50%;
  height: 30vw;
  margin: 0vw 0vw 0vw 0vw;
}
.container_bonecos_text {
  margin: 0vw 0vw 0vw 0vw;
  padding: 0vw 2vw 0vw 2vw;
  order: 2;
  width: 45%;
  height: 30vw;
}
.bonecos_text {
  color: rgb(50, 50, 50);
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
}
.botaocatalogo {
  border-radius: 14px;
  height: 4vw;
  background-image: linear-gradient(#fe6467, #fa5748);
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vw 1vw 0vw 1vw;
}
.botaocatalogo > a {
  font-size: 1.1vw;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}


